# Life Insurance Data Generation.

In this notebook we generate synthetic life insurance data to be used for machine learning. For this task we will use the generation function stored in the tools.py module.

#### Import Necesary Packages.

In [4]:
import modules.tools as tools
import pandas as pd
import sqlite3 as sql3

#### Generate One Million Rows of Data.

In [2]:
cat_data = tools.generate_life_insurance_data(1000000)
cat_data.head()

,Age,BMI,ZIP Code,Children,Annual Premium,Premium Amount,Policy Lapsed,Policy Face Value,Rider Accidental Death,Rider Critical Illness,Rider Waiver of Premium,Gender_Male,Gender_Female,Smoker_Yes,Smoker_No,Premium_Frequency_Monthly,Premium_Frequency_Quarterly,Premium_Frequency_Semiannual,Premium_Frequency_Annual
0,35,25.5,73159,5,715.0,715.00,1,1250000,0,0,1,1,0,1,0,0,0,0,1
1,46,26.8,64857,0,274.0,274.00,1,850000,0,0,0,0,1,0,1,0,0,0,1
2,62,34.6,15492,4,478.0,239.00,0,1700000,0,0,0,1,0,0,1,0,0,1,0
3,32,15.1,88430,2,498.0,41.50,0,450000,0,0,0,0,1,1,0,1,0,0,0
4,61,21.0,18980,0,703.0,175.75,1,2000000,1,1,0,1,0,1,0,0,1,0,0

#### Spin up an empty sqlite database, and populate it for use in other notebooks.

Spin up an empty sqlite database.

In [3]:
con = sql3.connect('life_data.db')

Load our synthetic data into it...

In [5]:
cat_data.to_sql('life_data_synth', con = con, if_exists = "replace")

1000000

To regenrate more data, simply rerun all cells...