# Data Carpentry.

In this notebook I work on cleaning the data and readying it for modeling. Note that this notebook is dependent on the first notebook in the series being ran first, and the life_data.db sqlite databaser to be present.

#### Import necesary packages.

In [12]:
import sqlite3 as sql3
import pandas as pd

#### Import the data.

I will now connect to the sqlite database that was created in the previous notebook, and import the synthetic life insurance data into a pandas dataframe.

In [13]:
con = sql3.connect('life_data.db')

In [14]:
data = pd.read_sql('SELECT * FROM life_data_synth', con)

Let's look at the available columns in the data.

In [15]:
data.columns

Index(['index', 'Age', 'BMI', 'ZIP Code', 'Children', 'Annual Premium',
       'Premium Amount', 'Policy Lapsed', 'Policy Face Value',
       'Rider Accidental Death', 'Rider Critical Illness',
       'Rider Waiver of Premium', 'Gender_Male', 'Gender_Female', 'Smoker_Yes',
       'Smoker_No', 'Premium_Frequency_Monthly', 'Premium_Frequency_Quarterly',
       'Premium_Frequency_Semiannual', 'Premium_Frequency_Annual'],
      dtype='object')

#### Separate the data in to dependant and independant variables.

Our dependant variable is the "Police Lapsed" variable. Let's put that into a separate pandas Series.

In [16]:
y = data['Policy Lapsed']

In [17]:
y

0         0
1         0
2         1
3         0
4         1
         ..
999995    1
999996    1
999997    0
999998    1
999999    0
Name: Policy Lapsed, Length: 1000000, dtype: int64

And now, the independent variables.

In [18]:
X = data.drop('Policy Lapsed', axis = 1)

In [19]:
X

,index,Age,BMI,ZIP Code,Children,Annual Premium,Premium Amount,Policy Face Value,Rider Accidental Death,Rider Critical Illness,Rider Waiver of Premium,Gender_Male,Gender_Female,Smoker_Yes,Smoker_No,Premium_Frequency_Monthly,Premium_Frequency_Quarterly,Premium_Frequency_Semiannual,Premium_Frequency_Annual
0,0,45,21.6,36689,4,667.0,667.00,300000,0,1,0,0,1,1,0,0,0,0,1
1,1,56,20.7,72751,0,682.0,56.83,750000,0,0,0,1,0,1,0,1,0,0,0
2,2,70,35.0,42343,0,510.0,255.00,250000,0,0,0,0,1,0,1,0,0,1,0
3,3,34,30.3,88549,0,808.0,404.00,1500000,1,0,1,1,0,1,0,0,0,1,0
4,4,23,30.9,76455,5,287.0,23.92,1800000,0,1,0,1,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,999995,21,34.2,22902,2,347.0,173.50,200000,0,1,1,1,0,0,1,0,0,1,0
999996,999996,68,39.3,78027,2,590.0,49.17,1600000,0,0,1,0,1,0,1,1,0,0,0
999997,999997,53,24.2,06335,1,243.0,121.50,1400000,1,0,0,1,0,0,1,0,0,1,0
999998,999998,66,27.5,02542,4,848.0,212.00,1750000,0,1,1,1,0,1,0,0,1,0,0
999999,999999,19,39.7,19543,2,951.0,475.50,750000,1,0,1,0,1,1,0,0,0,1,0

#### Load the variables back into the database.

In [20]:
y.to_sql('y', con)

1000000

In [21]:
X.to_sql('X', con)

1000000